.BlogCard {
  $h2-font-size: 26px;

  h1 {
    font-size: $h2-font-size;
    font-weight: bold;
  }
}

.BlogDate {
  display: block;
  color: #333;
  margin-bottom: 12px;
}

.BlogDescription {
  color: #333;
}
