/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "variables";
@import 'base/reset';
@import 'base/typography';

a {
  color: $text-color-link
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: $font-size-default;
}

input {
  font-size: $font-size-default;
}

content {
  line-height: $line-height-content;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  padding: 2px 5px;
  background-color: $code-background-color;
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid #999;
  color: $text-color-primary;
  padding: 2px 0 2px 20px;
  margin: 0;
  font-style: italic;
}
