/// Font
$font-family-default: Verdana, sans-serif;

/// Font Sizes
$font-size-default: 16px;

/// Background Color
$background-color-default: #fff;
$background-color-gray-95: #f2f2f2;

/// Text colors
$text-color-default: #444;
$text-color-primary: #222;
$text-color-link: #3273dc;

/// Line Height
$line-height-default: 1.5;
$line-height-content: 1.6;

/// Code Background Color
$code-background-color: $background-color-gray-95;
