
.BlogPost {
    font-size: 18px;
    margin-bottom: 256px;

    $h1-font-size: 36px;
    $h2-font-size: 26px;
    $h3-font-size: 20px;

    hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
    }

    h1 {
        font-size: $h1-font-size;
        margin-bottom: $h1-font-size / 2;
        font-weight: bold;
    }

    h2 {
        
        margin-top: $h2-font-size * 1.5;
        font-size: $h2-font-size;
        margin-bottom: $h2-font-size / 2;
        font-weight: bold;
    }

    h3 {
        margin-top: $h3-font-size * 1.5;
        font-size: $h3-font-size;
        margin-bottom: $h3-font-size / 2;
        font-weight: bold;
    }

    ul {
        list-style-type: disc;
        margin-bottom: 10px;
    }

    li {
        margin-left: 16px;
    }

    p {
        margin-bottom: 24px;
    }

    pre {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.Title {
    font-size: 2em;
    margin: 0.25em 0 0;
}

.LastUpdated {
    font-style: italic;
}

