---
import Header from '../../shared/components/Header';
import HeaderLink from '../../shared/components/HeaderLink';
import { SITE_TITLE } from '../../consts';

const { pathname } = Astro.url;
const isActive = (href: string) =>
  href === pathname || href === pathname.replace(/\/$/, '');
---

<Header Logo={SITE_TITLE}>
  <nav>
    <HeaderLink href="/posts" isActive={isActive('/posts')}>Posts</HeaderLink>
  </nav>
</Header>
