---
import type { CollectionEntry } from 'astro:content';
import BaseHead from './sections/BaseHead.astro';
import Header from './sections/Header.astro';

import BlogPost from '../components/BlogPost';
import Footer from '../components/Footer';
import Layout from '../components/Layout';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const articleProps = {
	title,
	description,
	pubDate,
	updatedDate,
	heroImage
};
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<Layout.Main>
			<BlogPost {...articleProps}>
				<slot />
			</BlogPost>
		</Layout.Main>
		<Footer />
	</body>
</html>
