@import "../variables.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-default;
  margin: auto;
  text-align: left;
  background-color: $background-color-default;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: $line-height-default;
  color: $text-color-default;
}
